In [67]:
import numpy as np
import pandas as pd

In [68]:
x = np.array([[0,0],[1,1],[2,2],[3,3],[4,4]])
y = np.array([0,2,4,6,8])

In [69]:
df = pd.DataFrame(x)
df = df.rename(columns={0 : "1st_Digit" , 1 : "2nd_Digit" })
df["Sums"] = y

In [70]:
df

   1st_Digit  2nd_Digit  Sums
0          0          0     0
1          1          1     2
2          2          2     4
3          3          3     6
4          4          4     8

In [71]:
def cost_function(x,y,w,b):
    m = len(x)
    f = 0
    for j in range(m):
        f += 1/(2*m)*(np.dot(x[j],w) + b - y[j])**2
    return f

In [72]:
def derivative(x,y,w,b):
    m = len(x)
    w_j = np.zeros_like(w)
    w_b = 0
    for i in range(m):
        w_j += 1/(m)*(np.dot(x[i],w) + b - y[i])*x[i]
        b_j = 1/(m)*(np.dot(x[i],w) + b - y[i])
    return w_j , b_j

In [73]:
def gradient_descent(x,y,w,b,alpha,rep):
    for i in range(rep):
        w_j , b_j = derivative(x,y,w,b)
        w -= alpha * w_j
        b -= alpha * b_j
    return w , b

In [74]:
w_int = np.ones(x.shape[1])
b_int = 0
alpha = 0.01
rep = 1000

In [75]:
w_final , b_final = gradient_descent(x,y,w_int,b_int,alpha,rep)
pred = w_final , b_final
cost = cost_function(x,y,w_int,b_int)
print(f"Weights : {w_final} , Bias : {b_final} ðŸ˜Ž ")
print(f"Cost : {cost} ðŸ˜Ž")

Weights : [1. 1.] , Bias : 0.0 ðŸ˜Ž
Cost : 0.0 ðŸ˜Ž

In [76]:
def prediction(x1,x2,w,b):
    return (np.dot([x1,x2],w)+b)

In [77]:
def get_input():
    x1 = float(input("Number1 : "))
    x2 = float(input("Number2 : "))
    predict = prediction(x1,x2,w_final,b_final)
    print(f"{x1} + {x2} = {predict} ðŸ˜Ž")

In [78]:
get_input()

Number1 :  3
Number2 :  4

3.0 + 4.0 = 7.0 ðŸ˜Ž

In [79]:
y_pred = np.dot(x,w_final) + b_final

In [80]:
def mean_squared_error(y_true, y_pred):
    n = len(y_true)
    squared_diffs = sum((y_true[i] - y_pred[i]) ** 2 for i in range(n))
    mse = squared_diffs / n
    return mse

In [81]:
mse_value = mean_squared_error(y, y_pred)

In [82]:
print(f"mean_squared_error : {mse_value} ðŸ˜Ž")

mean_squared_error : 0.0 ðŸ˜Ž